---
title: Home
---

<!DOCTYPE html>
<html lang="en">

<!-- HeadPart --> 
  {% include head.html %}
<!-- /HeadPart -->

<body id="home" data-spy="scroll" data-target=".navbar" data-offset="100">

<!-- NavPart -->
  {% include nav.html %}
<!-- /NavPart -->

  <!-- globalParallax -->
  <div class="parallax" id="global-parallax">
    <img src="./img/foundation-background-art.png" data-depth-factor="3" alt="bg-img" class="d-none d-sm-none d-md-none d-lg-block parallax-layer main-parallax-img" />
    <div class="parallax-mask"></div>
    <div class="parallax-bg"></div>
    
    <!-- globalParallaxContent -->
    <div class="parallax-content">
      
      <!-- jumbotron -->
      <div class="jumbotron text-white parallax-layer" data-depth-factor="4" style="background-color: transparent;">
        <div class="container text-sm-center pt-5">
          <center><h1 class="display-4" Ideas style="font-weight: bold;">Welcome to LBRY </h1></center>
          <hr class="heading">
          <center><p class="lead">LBRY is a secure, open, and community-run digital marketplace.</p></center>
          <div class="btn-group mt-4" role="group" aria-label="Callout buttons">
            <a type="button" class="btn lbry-dark text-white btn-lg" href="https://lbry.com/get">Download LBRY</a>
            <a class="btn btn-light btn-lg" href="https://chat.lbry.com">Join Discord</a>
          </div>
        </div>
      </div>
      <!-- /jumbotron -->

      <div class="container-fluid pt-4 above-parallax">
        
        <!-- about -->
        <div id="about" class="row">
          <div class="col-md-6 col-lg-6 order-lg-1">
            <h2 class="mb-4">Welcome to LBRY</h2>
            <p>The LBRY community invites everyone to join us in building a more free and open way to share content and
              information online.</p>
          </div>

          <div class="col-md-6 col-lg-6 order-lg-2">
            <h2 class="mb-4">About LBRY Foundation</h2>
            <p>The LBRY Foundation is a non-profit organization dedicated to the growth, development, and adoption of the
              LBRY network in a way that the community of LBRYians decides themselves.</p>
          </div>
        </div>
        <!-- /about -->
        
        <hr class="content">

        <!-- lbryians -->
        <h3 id="lbryians" class="display-4 text-center my-5 text-white">Lbryians</h3>
        <div class="row">
          <div class="col-md-12 col-lg-4">
            <div class="card mb-3 lbry-dark">
              <div class="card-body text-center">
                <i class="fas fa-laptop-code"></i>
                <h4 class="card-title">Are you a Developer?</h4>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-4">
            <div class="card mb-3 lbry-dark">
              <div class="card-body text-center">
                <i class="fas fa-edit"></i>
                <h4 class="card-title">Are you a Designer?</h4>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-4">
            <div class="card lbry-dark">
              <div class="card-body text-center">
                <i class="fas fa-magic"></i>
                <h4 class="card-title">Are you a Creator?</h4>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-12 pt-3">
            <div class="card mb-3 lbry-dark">
              <div class="card-body text-center">
                <i class="fas fa-handshake"></i>
                <h4 class="card-title">Are you someone who wants to have some fun and put your skills to use contributing to creative freedom?</h4>
              </div>
            </div>
          </div>
        </div>
        <p>Wonderful. So are we and we’d like to help!</p>
        <hr class="content">

        <h3 class="mb-4 text-center" id="basics">The Basics</h3>
          <div class="col-md-10 col-lg-10 col-xl-10 mx-auto text-center">
            <p>A lot communication and organization happens via the <a href="./chat/">main chat</a>.<br> 
            <strong>If you want to possibly participate or don't know what to do next, 
            the best thing to do is just come here and say "Hi".</strong></p>
            <p>But the whole network is larger than that -- 
            it's comprised of subgroups of Hives that together make up <a href="./swarm/">The Swarm</a>.</p>
            <p>The Foundation provides initiative and project funding, 
              but only for those that prove themselves. 
              More in <a href="./tavern/">The Tavern</a>.</p>
          </div>
        <!-- /lbryians -->

        <!-- Check out Lbry Foundation Official channel -->
        <div class="row py-4 text-white">
          <div class="col-md-5 col-lg-5 col-xl-5 mx-auto text-center">
            <a href="https://open.lbry.com/@LBRYFoundation:0?r=B5Xh17Wa89hHpZXFqzpaA4ztzPtHCb8F" 
            class="btn btn-outline-light btn-sm"> Check out Lbry Foundation Official channel </a>
          </div>
        </div>
        <hr class="content">
        <!-- /Check out Lbry Foundation Official channel -->

        <!-- twitter -->
        <h2 class="mb-4 text-center" id="twitter">LBRY Foundation Tweets</h2> <hr class="subhead">
        <div class="row">
          <div class="col-md-12 col-lg-12 mx-auto">
            <div style="text-align: center">
              <a class="twitter-timeline" data-width="520" data-height="500" data-theme="dark" href="https://twitter.com/LbryFoundation?ref_src=twsrc%5Etfw">Tweets by LbryFoundation</a> 
              <script 
              async src="https://platform.twitter.com/widgets.js" charset="utf-8">
            </script> 
            </div>
          </div>
        </div>        
        <!-- /twitter -->
        
        <!-- Foundations Hives-->
      {% include hives.html %}
        <!-- /Foundations Hives -->
      </div> 
      
      <!-- FooterPart -->
      {% include footer.html %}
      <!-- /FooterPart -->

    </div>
    <!-- /globalParallaxContent -->
  </div>
  <!-- /globalParallax -->
  
  <!-- Hives Modals -->
      {% include hivesmodals.html %}
  <!-- /Hives Modals -->

  <!-- JSPart -->
    {% include js.html %}
  <!-- /JSPart -->
  
</body>

</html>
