<!-- Arena Events -->

<div class="col-md-12 col-lg-12 my-5" id="arena">
    <h2 class="mb-2 text-white text-center">LBRY Arena Events</h2> 
    <hr class="subhead">
    <br>
    <div class="lbry-dark text-center pt-3">
      <span class="mt-3">Click on a event to see details</span>  
      <div class="card-body" id="viewevents">
        
        <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#gameplayModal">
          Gameplay
        </button>
        
      </div>
    </div>
  </div>

<!-- /Foundation Hives-->
