<!-- Board of Directors -->
          <h2 class="display-4 text-center my-5 text-white" id="board">Board of Directors</h2>
          <hr class="subhead">
          <br>
          <div class="row">
            <div class="col-md-6 col-lg-4 scroll-fade" data-fade-delay="100">
              <div class="card mb-3 lbry-dark">
                <img class="card-img-top" src="../img/Jeremy-Kauffman.jpg" alt="Jeremy Kauffman">
                <div class="card-body">
                  <h4 class="card-title">Jeremy Kauffman</h4>
                  <p class="card-text">CEO of LBRY Inc., and founding board member of LBRY Foundation Inc.</p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 scroll-fade" data-fade-delay="300">
              <div class="card mb-3 lbry-dark"> 
                <img class="card-img-top" src="../img/Julie-Sigwart.jpg" alt="Julie Sigwart">
                <div class="card-body">
                  <h4 class="card-title">Julie Sigwart</h4>
                  <p class="card-text">Founding board member of LBRY Foundation Inc.</p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 scroll-fade" data-fade-delay="200">
              <div class="card lbry-dark">
                <img class="card-img-top" src="../img/Jon-Ringo.jpg" alt="Jon Ringo">
                <div class="card-body">
                  <h4 class="card-title">Jon Ringo</h4>
                  <p class="card-text">First community elected board member of LBRY Foundation, Inc.</p>
                </div>
              </div>
            </div>
                    
            <div class="col-md-6 col-lg-4 scroll-fade" data-fade-delay="200">
              <div class="card lbry-dark">
                <img class="card-img-top" src="../img/vlad-profile.png" alt="Leo Rodrigues">
                <div class="card-body">
                  <h4 class="card-title">Leo Rodrigues</h4>
                  <p class="card-text">Second community elected board member of LBRY Foundation, Inc.</p>
                </div>
              </div>
            </div>
                    
            <div class="col-md-6 col-lg-4 scroll-fade" data-fade-delay="200">
              <div class="card lbry-dark">
                <img class="card-img-top" src="../img/Ralph-Streb.jpeg" alt="Ralph Streb">
                <div class="card-body">
                  <h4 class="card-title">Ralph Streb</h4>
                  <p class="card-text">Second community elected board member of LBRY Foundation, Inc.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- /Board of Directors -->
