<!-- Event Modals -->

  <!-- Gameplay event -->
  <div class="modal fade" id="gameplayModal" tabindex="-1" role="dialog" aria-labelledby="gameplayModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content lbry-dark text-white">
        <div class="modal-header">
          <h3 class="modal-title" id="gameplayModal">3 in 1 Gameplay Saga</h3>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Pending</h4>
          <p>Pending</p> 

          <!-- <h4>Website</h4>
          <p></p>   -->

          <h4>Description</h4>
          <p>
            Pending  
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn lbry-dark-green" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Gameplay Event -->
  
  <!-- Event Modals -->
