{% if page.title == 'Home' %}
    
    <!-- HeadPart for HOMEPAGE --> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Primary Meta Tags -->

        <title>Welcome to LBRY Foundation</title>        
        
        <meta name="title" content="Welcome to LBRY Foundation">
        <meta name="description" content="The LBRY community invites everyone to join us in building a more free and open way to share content and information online.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://lbry.org/">
        <meta property="og:title" content="Welcome to LBRY Foundation">
        <meta property="og:description" content="The LBRY community invites everyone to join us in building a more free and open way to share content and information online.">
        <meta property="og:image" content="https://lbry.org/img/home-page-meta-img.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://lbry.org/">
        <meta property="twitter:title" content="Welcome to LBRY Foundation">
        <meta property="twitter:description" content="The LBRY community invites everyone to join us in building a more free and open way to share content and information online.">
        <meta property="twitter:image" content="https://lbry.org/img/home-page-meta-img.png">

        <!-- TitleBar Icon -->
        <link rel="icon" href="./img/small-logo.png" type="image/png" />
        <!-- /TitleBar Icon -->

        <!-- CSS DEPENDENCIES -->
        <link rel="stylesheet" href="./lib/fontawesome/css/all.min.css" />
        <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css" />
        <!-- /CSS DEPENDENCIES -->

        <!-- CUSTOM CSS -->
        <link rel="stylesheet" href="./lib/css/index.css" />
        <link rel="stylesheet" href="./lib/css/article.css" />
        <!-- /CUSTOM CSS -->
        <!-- MAILCHIMP INTEGRATION -->
        <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/013a9a7c3dc35e7f15e48af63/35d8f8e60b62d98482a4ba124.js");</script>
        
    </head>    
    <!-- /HeadPart for HOMEPAGE -->

{% elsif page.layout == 'default' %}

    <!-- HeadPart for DefaultLayoutsPages -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        
        <!-- Primary Meta Tags -->
        <title>{{ page.title }}</title>
        <meta name="title" content="{{ page.title }}">
        <meta name="description" content="{{ page.subhead }}">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://lbry.org/">
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:description" content="{{ page.subhead }}">
        <meta property="og:image" content="{{ page.meta-image }}">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://lbry.org/">
        <meta property="twitter:title" content="{{ page.title }}">
        <meta property="twitter:description" content="{{ page.subhead }}">
        <meta property="twitter:image" content="{{ page.meta-image }}">
    
        <!-- TitleBar Icon -->
        <link rel="shortcut icon" href="../img/small-logo.png" type="image/png">
        <!-- /TitleBar Icon -->
    
        <!-- CSS DEPENDENCIES -->
        <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../lib/fontawesome/css/all.min.css">
        <!-- /CSS DEPENDENCIES -->
        
        <!-- CUSTOM CSS -->
        <link rel="stylesheet" href="../lib/css/article.css">
        <link rel="stylesheet" href="../lib/css/index.css">
        <!-- /CUSTOM CSS -->
    </head>
    <!-- /HeadPart for DefaultLayoutsPages -->

{% endif %}
