<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>LBRY Foundation</title>
    
        <!--TitleBar Icon-->
        <link rel="shortcut icon" href="../img/small-logo.png" type="image/png">
    
        <!-- CSS DEPENDENCIES -->
        <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../lib/fontawesome/css/all.min.css">
        <!-- /CSS DEPENDENCIES -->
        
        <!-- CUSTOM CSS -->
        <link rel="stylesheet" href="../lib/css/article.css">
        <link rel="stylesheet" href="../lib/css/index.css">
        <!-- /CUSTOM CSS -->
    </head>
