<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark lbry-dark nav-transparent fixed-top">
    <div class="container">
      <span class="navbar-brand order-1 mr-0"><a href="https://github.com/LBRYians/lbry-org-new/tree/master/tavern" target="_blank" style="color: #FFFFFF;"><i class="fab fa-github"></i></a></span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="../">
        <img src="../img/logo.png"  alt="lbry-foundation-logo">
      </a>
      <div class="collapse navbar-collapse navbar-dark" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="../">Home</a>
          <a class="nav-item nav-link" href="../branding/">Branding</a>
          <!-- <a class="nav-item nav-link active" href="#">Tavern <span class="sr-only">(current)</span></a> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tavern
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#tavern">Tavern<span class="sr-only">(current)</span></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#lbry_tavern">Welcome to The LBRY Tavern</a>
              <a class="dropdown-item" href="#initiatives">Initiatives</a>
              <a class="dropdown-item" href="#project_grants">Project Grants</a>
            </div>
          </li>
          <a class="nav-item nav-link" href="../swarm/">Swarm</a>
          <a class="nav-item nav-link" href="../governance/">Governance</a>
          <a class="nav-item nav-link" href="../chat/">Chat</a>
          <a class="nav-item nav-link" href="../podcast/">Podcast</a>
          <a class="nav-item nav-link" href="../roadmap/">Roadmap</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- /navbar -->