<!-- Hives Modals -->

  <!-- Developers -->
  <div class="modal fade" id="developersModal" tabindex="-1" role="dialog" aria-labelledby="developersModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content lbry-dark text-white">
        <div class="modal-header">
          <h3 class="modal-title" id="developersModal">Developers </h3>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Chat Room or Forum</h4>
          <p>LBRY Discord: React with Developer Role Emoji in #hiverole channel to Join</p> 

          <!-- <h4>Website</h4>
          <p></p>   -->

          <h4>Description</h4>
          <p>
            The LBRY Foundation's developer hive. 
            Chat with other software engineers and developers. 
            Talk about LBRY or other development projects. 
            Learn and explore the world of code!  
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn lbry-dark-green" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Developers -->


  <!-- Creators -->
  <div class="modal fade" id="creatorsModal" tabindex="-1" role="dialog" aria-labelledby="creatorsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content lbry-dark text-white">
        <div class="modal-header">
          <h3 class="modal-title" id="creatorsModal">Creators</h3>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Chat Room or Forum</h4>
          <p>LBRY Discord: React with Creators Role Emoji in #hiverole channel to Join</p> 

          <!-- <h4>Website</h4>
          <p></p>   -->

          <h4>Description</h4>
          <p>
            The LBRY Foundation's creators hive. 
            Chat with other creators on the LBRY platform or where ever! Talk about gear, technique, struggles, successes. 
            Share ideas and content, and get to know one another! 
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn lbry-dark-green" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Creators -->  

  <!-- SkateHive -->
  <div class="modal fade" id="SkateHive_Modal" tabindex="-1" role="dialog" aria-labelledby="SkateHive_Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content lbry-dark text-white">
        <div class="modal-header">
          <h3 class="modal-title" id="contributorsModal">Skatehive</h3>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="https://spee.ch/8/b416b166fd9dbe4e.png?quality=85&height=200&width=0" style="width: 25%; height:25%" ></img>
          <h4>Chat Room or Forum</h4>
          <a href="https://discord.gg/jbjD2FaMhh" target="_blank">
          <button type="button" class="btn lbry-dark-green mb-3 mr-3" >Skatehive Discord Server</button>
          </a>
          <p> LBRY Foundatin Discord: React with Skateboard Role Emoji 🛹 in #hiverole channel to Join #skatehive channel</p> 
          

          <!-- <h4>Website</h4>
          <p></p>   -->
          
          <h4>Description</h4>
          <p>
            SkateHive is based on the anarchist roots of skateboarding, and is working at taking back control of our culture from the social media giants, who profit off the monopoly of our content. SkateHive is build on top of decentralized platforms that allows us to own our accounts, own our communities and make our own choices.

            We are joining the Skateboarding world with the CryptoWorld to achieve independency through community effort. In that way we became our own sponsors and be independent from algorithms that ruled skateboarding market. 
            
            This has allowed this humble community to self fund huge online games of S.K.A.T.E, giveaways, rewards for contests, events, and even help skaters buy new equipment! Everyone is welcome in this community, so long as you are respectful to others. 
            
            Supported by LBRY Foundation
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn lbry-dark-green" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /SkateHive -->

  <!-- LBRY.Science -->
  <div class="modal fade" id="LBRY_ScienceModal" tabindex="-1" role="dialog" aria-labelledby="LBRY_ScienceModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content lbry-dark text-white">
        <div class="modal-header">
          <h3 class="modal-title" id="LBRY_ScienceModal">LBRY.Science</h3>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Chat Room or Forum</h4>
          <p>LBRY Discord !Science role</p> 
          <p>React with Science Role Emoji in #hiverole channel to Join</p> 


          <h4>Description</h4>
          <p>
            LBRY.Science focuses on the curation of science news, 
            the creation and curation of science content, 
            the spread of science literacy, communication, 
            and education, and the advancement of DeSci: A Decentralized System of Science.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn lbry-dark-green" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /LBRY.Science -->

  <!-- Music Hive -->
  <div class="modal fade" id="MusicHive_Modal" tabindex="-1" role="dialog" aria-labelledby="MusicHive_Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content lbry-dark text-white">
        <div class="modal-header">
          <h3 class="modal-title" id="LBRY_recordsModal">MusicHive</h3>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Chat Room or Forum</h4>
          <a href="https://discord.gg/GY7FkkPchp" target="_blank">
            <button type="button" class="btn lbry-dark-green mb-3 mr-3" >MusicHive Discord Server</button>
          </a>
          <p>LBRY Foundation Discord: React with Musician Role Emoji in #hiverole channel to Join</p> 
          <p href="https://discordapp.com"> Music Hive Discord Server</p>
          
          <h4>Description</h4>
          <p>
             A hands-on, international team dedicated to nurturing talent and elevating great artists. With years of experience in the industry as writers, producers, and creatives, we're always searching for music that excites us. We want to see our artists develop and grow, providing opportunities to take them to the next level. We’re the MusicHive
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn lbry-dark-green" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Music Hive -->

  <!-- Open Source LBRY -->
  <div class="modal fade" id="Open_Source_LBRYModal" tabindex="-1" role="dialog" aria-labelledby="Open_Source_LBRYModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content lbry-dark text-white">
        <div class="modal-header">
          <h3 class="modal-title" id="Open_Source_LBRYModal">Open Source LBRY</h3>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Chat Room or Forum</h4>
          <p>LBRY Discord React with OpenSource Role Emoji in `#hiverole` channel to Join</p> 

          <!-- <h4>Website</h4>
          <p></p>   -->

          <h4>Description</h4>
          <p>
            Open Source LBRY's focus is to bring open sourced content to LBRY. 
            We have already uploaded over 50k public domain books and have created the MassUploader program
            so that anybody that has many open source/public domain files have an easy method to publish them all to LBRY. 
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn lbry-dark-green" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Open Source LBRY -->

  <!-- Watch on LBRY Plugin  -->
  <div class="modal fade" id="Watch_on_LBRY_PluginModal" tabindex="-1" role="dialog" aria-labelledby="Watch_on_LBRY_PluginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content lbry-dark text-white">
        <div class="modal-header">
          <h3 class="modal-title" id="Watch_on_LBRY_PluginModal">Watch on LBRY Plugin</h3>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Chat Room or Forum</h4>
          <p>LBRY Discord: React with WatchonLBRY Role Emoji in #hiverole channel to Join</p> 

          <h4>Website</h4>
          <p><a href="https://github.com/kodxana/Watch-on-LBRY">https://github.com/kodxana/Watch-on-LBRY</a></p>  

          <h4>Description</h4>
          <p>
            A plugin for web browsers that automatically checks whether a YouTube video or channel is on LBRY. 
            If it is, it redirects you to LBRY to watch it there.  
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn lbry-dark-green" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Watch on LBRY Plugin -->

  <!-- Wallet Servers -->
  <div class="modal fade" id="Wallet_ServersModal" tabindex="-1" role="dialog" aria-labelledby="Wallet_ServersModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content lbry-dark text-white">
        <div class="modal-header">
          <h3 class="modal-title" id="Wallet_ServersModal">Wallet Servers</h3>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Chat Room or Forum</h4>
          <p>LBRY Discord: React with WalletServer Role Emoji in #hiverole channel to Join</p> 

          <!-- <h4>Website</h4>
          <p></p>   -->

          <h4>Description</h4>
          <p>
            A wallet server is a computer that processes information from the blockchain and 
            arranges it into a more convenient form for apps to use. 
            Your LBRY app talks to wallet servers when it wants to find out information about LBRY content,
            make transactions, and many other things. <br>

            A community member may wish to run his or her own wallet server in order to reduce reliance on LBRY Inc 
            (thus making the network more decentralized), 
            to customize what content is available to users 
            (e.g., certain content might be illegal in one country but not another), 
            in order to run a different trending algorithm, or for some other reason not listed here. <br>

            This hive talks about and builds these things. 
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn lbry-dark-green" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Wallet Servers -->


  <!-- LBRY India -->
  <div class="modal fade" id="LBRY_IndiaModal" tabindex="-1" role="dialog" aria-labelledby="LBRY_IndiaModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content lbry-dark text-white">
        <div class="modal-header">
          <h3 class="modal-title" id="LBRY_IndiaModal">LBRY India</h3>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Chat Room or Forum</h4>
          <p>LBRY Discord: React with India Role Emoji in #hiverole channel to Join</p> 

          <!-- <h4>Website</h4>
          <p></p>   -->

          <h4>Description</h4>
          <p>
            LBRY India is a community for LBRYans accros India and Africa. 
            We are the full supporters of LBRY, secure, open, and community-run digital marketplace
            to enjoy the latest content from your favorite creators as a user, not a product. <br>
            The LBRY India community is made up of people from various educational and cultural backgrounds. 
            You can get to learn new things and get to meet new people. 
            Probably make some new friends. We usually organise LBRY, blockchain, and cryptocurrency meetups. 
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn lbry-dark-green" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /LBRY India -->


  <!-- /LBRY Community (LBRYC)  -->


  
  <!-- Hives Modals -->
