<!-- Foundation Hives -->

              <div class="col-md-12 col-lg-12 my-5" id="hives">
                <h2 class="mb-2 text-white text-center">Foundation Hives</h2> 
                <hr class="subhead">
                <br>
                <div class="lbry-dark text-center pt-3">
                  <span class="mt-3">Click on a hive to see details</span>  
                  <div class="card-body" id="viewhives">
                    
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#developersModal">
                      Developers
                    </button>

                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#skatehiveModal">
                      Skatehive
                    </button>
                    
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#musichiveModal">
                      MusicHive
                    </button>
                    
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#runnersModal">
                      Runners 
                    </button>
                    
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#creatorsModal">
                      Creators 
                    </button>
                    
                    
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#LBRY_ScienceModal">
                      LBRY.Science 
                    </button>
                    
                    
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#Open_Source_LBRYModal">
                      Open Source LBRY 
                    </button>
                    
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#Watch_on_LBRY_PluginModal">
                      Watch on LBRY Plugin 
                    </button>
                    
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#Wallet_ServersModal">
                      Wallet Servers 
                    </button>
                    
                    
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#LBRY_IndiaModal">
                      LBRY India 
                    </button>
                    

                    
                  </div>
                </div>
              </div>

<!-- /Foundation Hives-->
