<!--col-6-->
              <div class="col-md-12 col-lg-12 my-5" id="hives">
                <h2 class="mb-2 text-white text-center">Hives Table</h2> 
                <hr class="subhead">
                <br>
                <div class="lbry-dark text-center pt-3">
                  <span class="mt-3">Click on a hive to see details</span>  
                  <div class="card-body">
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#developersModal">
                      Developers
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#contributorsModal">
                      Contributors 
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#creatorsModal">
                      Creators 
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#translatorsModal">
                      Translators 
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#LBRY_ScienceModal">
                      LBRY.Science 
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#LBRY_EspanolModal">
                      LBRY.Español 
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#LBRY_recordsModal">
                      LBRY.records 
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#Open_Source_LBRYModal">
                      Open Source LBRY 
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#Watch_on_LBRY_PluginModal">
                      Watch on LBRY Plugin 
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#Wallet_ServersModal">
                      Wallet Servers 
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#RedditModal">
                      Reddit  
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#LazyBitModal">
                      LazyBit 
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#LBRY_IndiaModal">
                      LBRY India 
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#Makerspace_HiveModal">
                      Makerspace Hive 
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#LBRY_SocialModal">
                      LBRY Social 
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#LBRY_TurkeyModal">
                      LBRY Turkey 
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#LBRY_CommunityModal">
                      LBRY Community (LBRYC) 
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#Beat_SaberModal">
                      Beat Saber 
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#LBRYans_UnitedModal">
                      LBRYans United 
                    </button>
                    <button type="button" class="btn lbry-dark-green mb-3 mr-3" data-toggle="modal" data-target="#LBRYian_comModal">
                      LBRYian.com 
                    </button>
                  </div>
                </div>
              </div>
              <!--/col-6-->
