{% if page.title == 'Home' %}

    <!-- LogoPart for HOMEPAGE --> 
  
      <!-- Foundaton Logo -->
              <a class="navbar-brand" href="../">
                <img src="../img/logo.png"  alt="lbry-foundation-logo">
              </a>
      <!-- /Foundaton Logo -->
 
    <!-- /LogoPart for HOMEPAGE -->

{% elsif page.layout == 'default' %}

    <!-- LogoPart for DefaultLayoutsPages --> 
  
      <!-- Foundaton Logo -->
              <a class="navbar-brand" href="./">
                <img src="./img/logo.png"  alt="lbry-foundation-logo">
              </a>
      <!-- /Foundaton Logo -->
 
    <!-- /LogoPart for DefaultLayoutsPages -->

{% endif %}



