
        <!-- navbar -->
          <nav class="navbar navbar-expand-lg navbar-dark lbry-dark nav-transparent fixed-top">
            <div class="container">
              <!--Github Logo on Right-->
              <span class="navbar-brand order-1 mr-0">
                <a href="https://github.com/LBRYians/lbry-org-new/" target="_blank" style="color: #FFFFFF;">
                  <i class="fab fa-github"></i>
                </a>
              </span>
              <!--Github Logo on Right-->
              <!--Dropdown toggle for smaller screens-->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <!--Dropdown toggle for smaller screens-->
              <!--Foundaton Logo-->
              <a class="navbar-brand" href="../">
                <img src="../img/logo.png"  alt="lbry-foundation-logo">
              </a>
              <!--Foundaton Logo-->
        
                    
              <!--Navbar Menu Links--> 
                  {% include navlinks.html %}
              <!--Navbar Menu Links-->
                    
      </div>
    </div>
  </nav>
  <!-- /navbar -->
