{% if page.title == 'Home' %}

    <!-- NavLinksPart for HOMEPAGE --> 
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="./">Home</a>
          <a class="nav-item nav-link" href="./branding/">Branding</a>
          <a class="nav-item nav-link" href="./swarm/">Swarm</a>
          <a class="nav-item nav-link" href="./chat/">Chat</a>
          <a class="nav-item nav-link" href="./roadmap/">Roadmap</a>
          <a class="nav-item nav-link" href="./verified/">Verified</a>
          
          <!-- Governance Dropdown Navlinks -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="./governance/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Governance
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="./governance/">Governance  <span class="sr-only">(current)</span></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="./advisors/">Advisors</a>
              <a class="dropdown-item" href="./creators/">Creators</a>
            </div>
          </li>
          <!-- /Governance Dropdown Navlinks -->
            
          <!-- Projects Dropdown Navlinks -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Projects
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              
              <a class="dropdown-item" href="./tavern/">Tavern</a>
              <a class="dropdown-item" href="./podcast/">Podcast</a>
              <a class="dropdown-item" href="./arena/">Arena</a>
            </div>
          </li>
          <!-- /Projects Dropdown Navlinks -->
          
          <!-- For newer additions Follow : <a class="nav-item nav-link" href="./asinpermalink/">pagename</a> -->
        </div>
     <!-- /NavLinksPart for HOMEPAGE --> 
        
  {% elsif page.layout == 'default' %}
 
    <!-- NavLinksPart for DefaultLayoutsPages --> 
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="../">Home</a>
            <a class="nav-item nav-link" href="../branding/">Branding</a>
            <a class="nav-item nav-link" href="../swarm/">Swarm</a>
            <a class="nav-item nav-link" href="../chat/">Chat</a>
            <a class="nav-item nav-link" href="../roadmap/">Roadmap</a>
            <a class="nav-item nav-link" href="../verified/">Verified</a>
            
            <!-- Governance Dropdown Navlinks -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="../governance/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Governance
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../governance/">Governance  <span class="sr-only">(current)</span></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="../advisors/">Advisors</a>
              <a class="dropdown-item" href="../creators/">Creators</a>
            </div>
          </li>
          <!-- /Governance Dropdown Navlinks -->
            
            <!-- Projects Dropdown Navlinks -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Projects
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              
              <a class="dropdown-item" href="../tavern/">Tavern</a>
              <a class="dropdown-item" href="../podcast/">Podcast</a>
              <a class="dropdown-item" href="../arena/">Arena</a>
            </div>
          </li>
          <!-- /Projects Dropdown Navlinks -->
            
            <!-- For newer additions Follow : <a class="nav-item nav-link" href="../asinpermalink/">pagename</a> -->
        </div>
     <!-- /NavLinksPart for DefaultLayoutsPages -->
        
{% endif %}
