{% if page.title == 'Home' %}

    <!-- NavLinksPart for HOMEPAGE --> 
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="./">Home</a>
          <a class="nav-item nav-link" href="./branding/">Branding</a>
          <a class="nav-item nav-link" href="./tavern/">Tavern</a>
          <a class="nav-item nav-link" href="./swarm/">Swarm</a>
          <a class="nav-item nav-link" href="./governance/">Governance</a>
          <a class="nav-item nav-link" href="./chat/">Chat</a>
          <a class="nav-item nav-link" href="./roadmap/">Roadmap</a>
          <a class="nav-item nav-link" href="./podcast/">Podcast</a>
          <a class="nav-item nav-link" href="./arena/">LBRY Arena</a>
          <a class="nav-item nav-link" href="./verified/">Verified Creator</a>
          <!-- For newer additions Follow : <a class="nav-item nav-link" href="./asinpermalink/">pagename</a> -->
        </div>
     <!-- /NavLinksPart for HOMEPAGE --> 
        
  {% elsif page.layout == 'default' %}
 
    <!-- NavLinksPart for DefaultLayoutsPages --> 
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="../">Home</a>
            <a class="nav-item nav-link" href="../branding/">Branding</a>
            <a class="nav-item nav-link" href="../tavern/">Tavern</a>
            <a class="nav-item nav-link" href="../swarm/">Swarm</a>
            <a class="nav-item nav-link" href="../governance/">Governance</a>
            <a class="nav-item nav-link" href="../chat/">Chat</a>
            <a class="nav-item nav-link" href="../roadmap/">Roadmap</a>
            <a class="nav-item nav-link" href="../podcast/">Podcast</a>
            <a class="nav-item nav-link" href="../arena/">LBRY Arena</a>
            <a class="nav-item nav-link" href="../verified/">Verified Creator</a>
            <!-- For newer additions Follow : <a class="nav-item nav-link" href="../asinpermalink/">pagename</a> -->
        </div>
     <!-- /NavLinksPart for DefaultLayoutsPages -->
        
{% endif %}
